[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gp3tools"]
	path = gp3tools
	url = https://github.com/stefanosbalaskas/gp3tools
